<td>
  <%= link_to dim.name, dim %>
</td>

<td>
  <%= link_to dim.created_at, dim %>
</td>

<td>
  <%= link_to("Delete Dimensions", dim_path(dim), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs')  %>
</td>
